### JetBrains
*.iml
.idea/*
!.idea/dictionaries/
!.idea/encodings.xml
!.idea/compiler.xml
!.idea/vcs.xml
_dev/

### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties